* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #c1b5ad;
}

#map {
  height: calc(100vh - 50px);
  width: 60vw;
}

#navbar {
  background-color: tomato;
  height: 50px;
}

#brown-box {
  background-color: tan;
  padding-left: 30px;
  height: 40vh;
}

#itinerary {
  background-color: limegreen;
  height: 50vh;
}

#itinerary h1 {
  margin: 0;
  padding: 15px;
  background-color: orange;
}

#itinerary-content {
  padding-left: 30px;
}

#map-and-sidebar {
  display: flex;
  flex-direction: row;
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40vw;
}

.buttons {
  color: #fff;
  background-color: rgb(255, 49, 13);
  width: 40px;
  height: 40px;
}

li {
  display: inline-block;
  /* list-style-type: disc; */
}
